
.header-color
{
  background: #005AA7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #FFFDE4, #005AA7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, rgb(13, 67, 112),rgb(13, 67, 112)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

opacity: .7;
}

.resume-right-col {
  background: #27221F;
  color: white;
  padding: 2em;
}


.projects-grid {
  display: flex;
}
.projects-grid1 {
  display: flex;
}

.projects-grid2 {
  display: flex;
}

.contact-body {
  margin: auto;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
  
}

.contact-image{
 
  opacity: 0.7;
}


.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
 
  color: black;
  margin-bottom: 20px;
}

.contact-grid h2 {
  font-family: 'Anton', sans-serif;
}

.contact-grid p {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
}

.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.contact-list i {
  font-size: 66px;
  padding-right: 5rem;
}


.social-links {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: auto;
}

.social-links i {
  color: white;
  font-size: 5em;
  padding: 9px;
}
.landing-grid {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
}
.avatar-img {
  height: 280px;
  padding-top: 0em;
}

.home-img {
  margin: auto -10px;
  float: left;
  width: 40px;
  height: 40px;
}


.banner-text {
  background-color: rgb(13, 67, 112);
  opacity: .7;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.selenium{
  margin: auto 165px;
  float: center ;
  width: 270px;
  height: 240px;
}
.appium{
  margin: auto 165px;
  float: center ;
  width: 270px;
  height: 100px;
}
.postman{
  margin: auto 165px;
  float: center ;
  width: 270px;
  height: 100px;
}
.gatling{
  margin: auto 165px;
  float: center ;
  width: 270px;
  height: 100px;
}
.python{
  margin: auto 215px;
  float: center ;
  width: 270px;
  height: 100px;
}
.javascript{
  margin: auto 225px;
  float: center ;
  width: 100px;
  height: 100px;
}

.nodejs-progress {
  margin: auto -0px;
  float: center ;
  width: 900px;
  height: 400px;
 

}
.express-progress {
  margin:  -100px;
  float: center ;
  width: 900px;
  height: 900px;
  vertical-align: top;

}
.jenkins {
  margin:  200px;
  float: center ;
  width: 150;
  height: 150;
  vertical-align: top;

}

.banner-text h1 {
  font-size: 66px;
  font-weight: bold;
  color: white;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
}
